.layer {
  &-wrapper {
    display: flex;
    flex-direction: column;
  }
  &-title {
    outline: none;
    border: 1px solid rgb(216, 216, 216);
    background: transparent;
    transition: 0.2s ease-in;

    &:hover {
      border: 1px solid #fff;
    }
  }
  &-top {
    width: 100%;
    padding: 1em;
    background: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background: #1890ff;
    }
  }
  &-main {
    padding: 1em;
    background: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    gap: 1em;

    .input-container {
      display: flex;
      flex-direction: column;
      gap: 0.3em;
      & > label {
        font-size: 0.9em;
      }
    }
  }
}
.btn-container {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.icon-btn {
  cursor: pointer;
}
.color-block {
  width: 40px;
  height: 12px;
  border-width: 1px;
  border-style: solid;
}

