.setting-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 250px;
  & > h3 {
    position: relative;
    font-size: 1em;
    font-weight: 600;
  }
  &-inner {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }
}
.btn-group{
  display: flex;
  align-items: center;
  gap:0.3em;
  & > button{
    flex:1;
  }
}