.sidebar {
  &-container {
    position: relative;
    flex: 1;
    // background: rgba(255, 255, 255, 0.25);
    // background-color: rgba(17, 25, 40, 0.55);
    background: #fff;

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    // border-radius: 10px;
    height: 100%;
    max-width: 26em;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }
  &-top {
    position: sticky;
    top: 0;
    width: 100%;
    background: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 7em;
    padding: 2em 1.5em;
    z-index: 3;

    & > span {
      font-size: 0.8em;
      color: rgb(36, 36, 36);
    }
  }
  &-main {
    padding: 2em 1.5em;
    overflow-y: scroll;
    flex: 1;

    & > h2 {
      font-weight: 600;
      font-size: 2em;
    }
  }
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.App-logo {
  font-size: 1.4em;
  font-weight: bold;
}
