.App-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  // background: rgb(115, 115, 245);

  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  gap: 1em;
}
.graph-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  // background: rgba(255, 255, 255, 0.25);
  // background-color: rgba(17, 25, 40, 0.55);
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  // backdrop-filter: blur(8.5px);
  // -webkit-backdrop-filter: blur(8.5px);
  // border: 1px solid rgba(255, 255, 255, 0.18);
  background: #fff;
  // border-radius: 10px;
  padding: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}
